.card {
  border-bottom: 1px solid #9B9B9B;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.row {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icon {
  background: #D9D9D9;
  border-radius: 50%;
  padding: 10px;
  font-size: 1.2rem;
}

.info h5 {
  font-family: var(--font-body);
  font-size: 1rem;
  color: #000;
  font-weight: 400;
}

.info p {
  color: #9B9B9B;
  font-size: 1rem;
}

.price {
  color: #F4BB4A;
  font-weight: 700;
}

.buttons {
  display: flex;
  gap: 8px;
}

.buttons button {
  padding: 12px;
  border-radius: 15px;
  border: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.4rem;
  cursor: pointer;
  color: #fff;
}

.delete {
  background: #FF3E3E;
}

.edit {
  background: #F4BB4A;
}

/* Responsive Design */
@media (max-width: 767px) {
  .card {
    flex-direction: column;
    align-items: flex-start;
  }

  .row {
    gap: 12px;
  }

  .row:last-child {
    padding-left: 3.3rem;
    justify-content: space-between;
    width: 100%;
  }

  .buttons button {
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 0.5rem;
  }

  .info p {
    font-size: 12px;
  }
}
