.pagination {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.pagination p {
  background: #43967B;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
  color: #fff;
}

.pagination button {
  background: #F1F1F1;
  color: #000;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
  border: 0;
  font-size: 1.4rem;
  cursor: pointer;
}

.pagination button[disabled] {
  opacity: 0.5;
}

@media (max-width: 767px) {
  .pagination button,
  .pagination p {
    width: 42px;
    height: 42px;
    font-size: 1.4rem;
  }
}
