.list,
.emptycontainer {
    background: #fff;
    border-radius: 10px;
    padding: 24px;
}

.container h2 {
    font-size: 28px;
    color: #fff;
    font-style: italic;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .container h2 {
        text-align: center;
    }
}
