.editsection{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.tcard{
    /* display:flex; */
     /* background:white */
}
.cardContent{
   
}
.cardButtons{

}
.delete{

}
.edit{

}